@import "../../../styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lechon-container {
  padding: 12px 8px;
  margin: 15px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-container {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  img {
    width: 100%;
    margin: 0px;
    border-radius: 50%;
  }
}

mat-card{
  border-radius: 2rem;
  background: linear-gradient(-70deg, $primario, $secundario);
  max-width: fit-content;
}

mat-card-title {
  color: $text-light;
  width: 200px;
  margin-left: 50px;
}

mat-card-content{
  p{
    width: 200px;
    color: $text-light;
  }
}
