.footer {
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
    height: 50px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

@media (max-width: 1081px) {
  .footer{
      position: relative !important;
  }  
}