.message-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
