@import "../../../styles.scss";

*{
    text-align: center;
    padding: 0.5em;
    text-indent: 0px !important;
}

.container{
    color: $text-dark;
    margin-top: 50px;
    margin-bottom: 50px;
}

mat-form-field, ngx-dropzone{
    width: 380px;
    margin: 0px;
    padding: 0.2em;
}

ngx-dropzone{
    margin: 0 auto 2rem;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 200px;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

ngx-dropzone-label{
    margin: 0.8rem !important;
    width: fit-content;
}

ngx-dropzone:focus, ngx-dropzone:hover{
    border: 2px solid rgba(0, 0, 0, 0.8);
    height: 198px;
    width: 378px;
}

@media (max-width: 1081px) {
    mat-form-field{
        width: 280px !important;
    }
}

#btn-registro{ 
    color: $text-light;
    padding: 0.15em 2em 0.05em;
    background-color: $secundario;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition-property: opacity;
    transition-duration: 3s;
}

#btn-registro:disabled{
    display: none;
}