<div *ngIf="getStatus()!=='isOnline'">
  <div class="container">
    <div [formGroup]="formRegistro">
      <h2>Registrate</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Introduce tu email</mat-label>
          <input matInput placeholder="sergio@ejemplo.es" formControlName="email" required />
          <mat-error *ngIf="formRegistro.get('email')?.invalid">{{
          getErrorMessage()
        }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Introduce contraseña</mat-label>
          <input matInput placeholder="contraseña" [type]="hide ? 'password' : 'text'" formControlName="password"
            required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="formRegistro.get('password')?.invalid">{{
          getErrorMessagePass()
        }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <label>Género:</label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Hombre</mat-radio-button>
          <mat-radio-button value="female">Mujer</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="age">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>por favor indique una fecha válida.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nombre:</mat-label>
          <input matInput placeholder="Ejemplo: Pedro" formControlName="firstName" />
          <mat-error>Nombre es requerido</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos:</mat-label>
          <input matInput placeholder="Ejemplo: Perez Gonzales" formControlName="lastName" />
          <mat-error>Apellido es requerido</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad de residencia:</mat-label>
          <input matInput placeholder="Ejemplo: Madrid" formControlName="city" />
          <mat-error *ngIf="formRegistro.get('city')?.invalid">{{
          getErrorMessageCity()
        }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Género musical:</mat-label>
          <mat-select formControlName="music">
            <mat-option value="Electronica">Electrónica</mat-option>
            <mat-option value="Pop">Pop</mat-option>
            <mat-option value="Metal">Metal</mat-option>
            <mat-option value="Alternativa">Alternativa</mat-option>
            <mat-option value="Indie">Indie</mat-option>
            <mat-option value="Reggeton">Reggeton</mat-option>
            <mat-option value="Synthwave">Synthwave</mat-option>
            <mat-option value="Clasica">Clásica</mat-option>
          </mat-select>
          <mat-error>por favor seleccione uno de la lista.</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Indica una breve descripción de tí.</mat-label>
          <textarea matInput formControlName="description"> </textarea>
          <mat-error *ngIf="formRegistro.get('description')?.invalid">{{
          getErrorMessageDescription()
        }}</mat-error>
        </mat-form-field>
      </div>
      <button mat-button (click)="addPerfil()" id="btn-registro" [disabled]="!formRegistro.valid">
        Registrarse
      </button>
    </div>
  </div>
</div>
<div *ngIf="getStatus()==='isOnline'">
  <button><span><a routerLink="">Inicia Sesion</a></span></button>

</div>
