<mat-card class="detail-container">

  <div class="info-container">
    <!-- imagen de la persona en detalle -->
    <div class="img-container">
      <img src="" alt="">
    </div>
    <!-- Info -->
    <div class="person-info">
      <mat-card-title>Info</mat-card-title>
      <!-- Nombre -->
      <p>Nombre: Rigoberto</p>
      <!-- Genero -->
      <p>Genero: Hombre</p>
      <!-- Edad -->
      <p>Edad: 69</p>
      <!-- Ciudad  -->
      <p>Ciudad: Madriz</p>
      <!-- Musica -->
      <p>Musica: Rekeson</p>
    </div>
  </div>
  <div class="description-container">
    <!-- Descripcion de la bio de la persona-->
    <mat-card-subtitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente odio sint natus rerum ea
      dignissimos possimus
      adipisci architecto impedit necessitatibus. Delectus deserunt incidunt laboriosam suscipit cumque similique
      corporis ad labore?</mat-card-subtitle>
  </div>
</mat-card>
