<div *ngIf="getStatus()==='isOnline'">
  <mat-card class="detail-container">
    <div class="info-container">
      <!-- imagen de la persona en detalle -->
      <div class="img-container">
        <img src="{{detalle.image}}" alt="persona">
      </div>
      <!-- Info -->
      <div class="person-info">
        <mat-card-title>Info</mat-card-title>

        <!-- Nombre -->
        <p>Nombre: {{detalle.name.firstName}}</p>

        <!-- Genero -->
        <p>Genero: {{detalle.gender}}</p>

        <!-- Edad -->

        <p>Edad: {{detalle.age}}</p>

        <!-- Ciudad  -->
        <p>Ciudad: {{detalle.city}}</p>

        <!-- Musica -->
        <p>Musica: {{detalle.music}}</p>


      </div>
    </div>
    <div class="description-container">
      <!-- Descripcion de la bio de la persona-->
      <mat-card-subtitle>{{detalle.description}}</mat-card-subtitle>
    </div>
  </mat-card>
</div>


<div *ngIf="getStatus()!=='isOnline'">
  <button><span><a routerLink="">Inicia Sesion</a></span></button>
</div>
