.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.info-container {
  display: flex;
}

.person-info {
  margin: 12px;
  margin-top: 0px;
  padding: 10px;
  padding-top: 0px;
}

.img-container {
  height: 200px;
  width: 200px;
  // borrar
  border: 1px solid black;

  img {
    width: 100%;
  }
}

.description-container {
  width: 70%;
  display: flex;
  justify-content: center;
}
