<div class="container">
<header color="primary">
  <div>
    <img src="../assets/images/LechonMatch1.png" alt="lechon logo" title="LechonMatch">
   
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Selección</span>
    </button>
    <button mat-menu-item>
      <span>Likes</span>
    </button>
    <button mat-menu-item>
      <span>Matches</span>
    </button>
  </mat-menu>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
</div>
