@import "../../../styles.scss";

.container-seleccion{
    display: flex;
    flex-direction: row;
}

#like{
    position: absolute;
    right: 25vw;
    top: 50vh;
}
#dislike{
    position: absolute;
    left: 25vw;
    top: 50vh;
}